$TTL    60
@       IN      SOA     ns1.server.priyme. admin.server.priyme. (
                              7         ; Serial
                             60         ; Refresh
                             60         ; Retry
                        2419200         ; Expire
                             60 )       ; Negative Cache TTL (60s fuer schnelles Umschalten bei WLAN-Wechsel)

; Nameserver Definition
@       IN      NS      ns1.server.priyme.

; A-Records (Lokales Heimnetz 192.168.0.33)
@       IN      A       192.168.0.33
ns1     IN      A       192.168.0.33
mc      IN      A       192.168.0.33
panel   IN      A       192.168.0.33

; Minecraft SRV Record
_minecraft._tcp.server.priyme.   IN   SRV   0 5 25565 mc.server.priyme.
