$TTL    60
@       IN      SOA     ns1.server.lan. admin.server.lan. (
                              1         ; Serial
                             60         ; Refresh
                             60         ; Retry
                        2419200         ; Expire
                             60 )       ; Negative Cache TTL

; Nameserver Definition
@       IN      NS      ns1.server.lan.

; A-Records (Tailscale IP - e.g. 100.111.45.61)
@       IN      A       100.111.45.61
ns1     IN      A       100.111.45.61
mc      IN      A       100.111.45.61
panel   IN      A       100.111.45.61

; Minecraft SRV Record
_minecraft._tcp.server.lan.   IN   SRV   0 5 25565 mc.server.lan.
